body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-weight: normal;
}

.todo-box{
    width: 95%;
    height: auto;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
}
.input-box{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    height: 50px;
    position: relative;
}
.list{
    width: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}
#add-btn{
    width: 25px;
    position: absolute;
    top: 15px;
    left: 92.5%;
    display: none;
    background: white;
}
.input-box input{
    border: none;
    border-radius: 10px;
    padding-left: 55px;
    font-size: larger;
    height: 50px;
    width: 90%;
}
.task-actions{
    /* border: 1px solid black; */
    margin: auto;
    width: 92%;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.complete-task{
    cursor: pointer;
    display: flex;
    gap: 5px;
    font-size: small;
    margin-left: 10%;
}
.complete-task img{
    height: 20px;
    position: relative;
    top: 20%;
}
#clear-task{
    cursor: pointer;
    position: relative;
    top: 15px;
    font-size: small;
}
.task-status{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.stat{
    display: flex;
    gap: 10px;
}
#taskList{
    margin: auto;
    width: 80%;
}
ul{
    list-style-type: none;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    font-size: larger;
}
ul li img{
    width: 20px;
    position: absolute;
    right: 10%;
    margin-top: -22px;
    display: none;
}
.stat{
    color: rgb(152, 152, 152);
}
#showAll{
    cursor: pointer;
}
#completed{
    cursor: pointer;
}
#unCompleted{
    cursor: pointer;
}



/* @media screen and (max-width:600) {
    .todo-box{
        width: 50%;
    }
} */