body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-weight: normal;
}

.todo-box{
    width: 95%;
    height: auto;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
}
.input-box{
    /* border: 1px solid black; */
    width: 95%;
    margin: auto;
    margin-top: 20px;
    height: 50px;
    position: relative;
    margin-left: 20px;
}

.list{
    width: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}
#add-btn{
    width: 25px;
    position: absolute;
    top: 15px;
    right: 12%;
    display: none;
    background: white;
}
.input-box input{
    border: none;
    border-radius: 10px;
    padding-left: 55px;
    font-size: larger;
    height: 50px;
    width: 75%;
}
.task-actions{
    /* border: 1px solid black; */
    margin: auto;
    width: 95%;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.complete-task{
    display: flex;
    gap: 5px;
    font-size: small;
    margin-left: 10%;
}
.complete-task img{
    height: 20px;
    position: relative;
    top: 20%;
}
#clear-task{
    position: relative;
    top: 17px;
    font-size: small;
}
.task-status{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.stat{
    display: flex;
    gap: 10px;
}
#taskList{
    margin: auto;
    width: 80%;
}
ul{
    list-style-type: none;
}
ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: larger;
}
ul li img{
    width: 20px;
    position: absolute;
    right: 30px;
}